@{
    ViewBag.Title = "OPR";
}

<div class="jumbotron">
    <h1>OPR - for a Better Puzzle Hunting</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in felis condimentum, fermentum nisl non, posuere nisi. Praesent id nisl ornare, dictum lectus nec, convallis ex. Duis eu tellus maximus, efficitur lorem eu, laoreet velit. Vestibulum malesuada sollicitudin dui nec finibus. Fusce condimentum, mauris non fringilla blandit, justo metus fringilla massa, ac sodales nunc arcu a ante.</p>
</div>
