@{
    ViewBag.Title = "OPR";
    string session = (string)ViewData["session"];
}

<div class="jumbotron">
    <h1>Optimal Pickup Routes (OPR)</h1>
    <p class="lead"> OPR allows you to work with others to follow a shortest distance path. <p>
    <p> Do you need to pick up friends from all across the area? With OPR, you can put their addresses into our system as stops, and it will give you the optimal path to pick them up. In addition, they can track your location using the “Locate Traveler” feature. </p>
</p>
    <p>@session</p>
</div>
